<html>
	<head>
		<title>emailr</title>
		<link rel="stylesheet" href="styles.css">
		<script src="node_modules/angular/angular.min.js"></script>
		<script src="message.js"></script>
	</head>
	<body ng-app="app" ng-controller="emailControl">
		<div class="main-container">
			<div class="header">
				<h1 ng-click="go('welcome')">emailr</h1>
				<div class="menu">
					<div ng-click="toggleMenu()" class="menu-click">Menu</div>
					<ul ng-show="showMenu">
						<li>One</li>
						<li>Two</li>
						<li>Three</li>
					</ul>
				</div>
			</div>
			<div class="notifications-box" ng-show="showNotifications" ng-click="showNotifications=false">
				<div class="notification-row" ng-repeat="notification in notifications">{{notification.text}}</div>
			</div>
			<div class="header-push"></div>
			<div class="box" ng-show="page=='welcome'">
				<h1>Hi</h2>
				<div class="button" ng-click="go('my-emails')">My emails</div>
				<div class="button" ng-click="go('email')">New email</div>
			</div>
			<div class="box" ng-show="page=='email'">
				<div class="button negative" ng-click="back()">Back</div>
				<div class="button" ng-click="clearCurrentOutMail()">Clear</div>
				<input placeholder="to" ng-model="currentOutMail.to"/>
				<input placeholder="cc" ng-model="currentOutMail.cc"/>
				<input placeholder="bcc" ng-model="currentOutMail.bcc"/>
				<input placeholder="subject" ng-model="currentOutMail.subject"/>
				<textarea placeholder="body" ng-model="currentOutMail.body"></textarea>
				<div class="button" ng-click="sendMail()">Send</div>
			</div>
			<div class="box" ng-show="page=='my-emails'">
				<div class="button negative" ng-click="back()">Back</div>
				<div class="search-bar"><input placeholder="search" ng-model="search" /></div>
				<div class="e-mail-container">
					<div class="e-mail-list-item" ng-repeat="email in emails | filter:search" ng-click="goToMail(email)">
						<span class="e-mail-list-column">{{email.from}}</span>
						<span class="e-mail-list-column">{{email.time}}</span>
						<span class="e-mail-list-column">{{email.subject}}</span>
					</div>
				</div>
				<div class="button" ng-click="go('email')">New email</div>
			</div>
			<div class="box" ng-show="page=='email-details'">
				<div class="button negative" ng-click="back()">Back</div>
				<div class="line">{{currentEmail.from}}</div>
				<div class="line">{{currentEmail.time}}</div>
				<div class="line">{{currentEmail.subject}}</div>
				<div class="text">{{currentEmail.body}}</div>
				<div class="button" ng-click="reply()">Reply</div>
				
			</div>
		
			<div class="footer-push"></div>
		</div>
		<div class="footer"></div>
		
		<script>
			var app = angular.module('app', []).
				controller("emailControl", function emailControl($scope){
					$scope.emails = [];
					
					$scope.currentEmail = new Email("","","","");
					$scope.currentOutMail = new Email("","","","");
					
					$scope.addEmail = function(from, time, subject, body){
						if(time == null){
							time = (new Date()).toGMTString();
						}
						
						var newMail = new Email(from, time, subject, body);
						
						$scope.emails.push(newMail);				
					}
					
					$scope.addEmail("bob",null,"all those things", "wooohoo, nice to meet you today!");
					$scope.addEmail("john",null,"all those things", "wooohoo, nice to meet you today!");
				
					$scope.showMenu = false;
					$scope.toggleMenu = function(){
						$scope.showMenu = !$scope.showMenu;
					};
					
					$scope.history = [];
					$scope.page = "welcome";
					
					$scope.goToMail = function(mail){
						$scope.currentEmail = mail;
						$scope.go("email-details");
					}
					
					$scope.reply = function(){
						var replyMail = new Email("","","RE: " + $scope.currentEmail.subject, "", $scope.currentEmail.from, $scope.currentEmail.cc, $scope.currentEmail.bcc);
						
						$scope.currentOutMail = replyMail;
						
						$scope.go("email");
					}
					
					$scope.go = function(txt){
						$scope.history.push($scope.page);
					
						$scope.page = txt;
					}
					
					$scope.back = function(){
						if($scope.history.length == 0){
							$scope.page = "welcome";
							return;
						}
						$scope.page = $scope.history.pop();
					}
					
					$scope.clearCurrentOutMail = function(){
						$scope.currentOutMail = new Email("","","","");
					}				
					
					$scope.sendMail = function(){
						$scope.currentOutMail.time = (new Date()).toGMTString();
						sendMessage("email", $scope.currentOutMail);
					}
					
					$scope.notifications = [];
					
					$scope.showNotifications = false;
					
					logProcess.push(function(msg){ $scope.notifications.push({text: msg.data}); $scope.showNotifications = true; $scope.$apply(); })
				});
		</script>
	</body>
</html>