<html>
	<head>
		<title>emailr</title>
		<link rel="stylesheet" href="styles.css">
		<script src="node_modules/angular/angular.min.js"></script>
	</head>
	<body ng-app="app" ng-controller="emailControl">
		<div class="main-container">
			<div class="header">
				<h1>emailr</h1>
				<div class="menu">
					<div ng-click="toggleMenu()">Menu</div>
					<ul ng-show="showMenu">
						<li>One</li>
						<li>Two</li>
						<li>Three</li>
					</ul>
				</div>
			</div>
			<div class="header-push"></div>
				<div class="box" ng-show="page=='welcome'">
					<h1>Hi</h2>
					<div class="button" ng-click="go('my-emails')">My emails</div>
					<div class="button" ng-click="go('email')">New email</div>
				</div>
				<div class="box" ng-show="page=='email'">
					<input placeholder="to"/>
					<input placeholder="cc"/>
					<input placeholder="bcc" />
					<input placeholder="subject" />
					<textarea placeholder="body"></textarea>
					<div class="button" ng-click="back()">Back</div>
				</div>
				<div class="box" ng-show="page=='my-emails'">
					<div class="e-mail-container">
						<div class="e-mail-list-item" ng-repeat="email in emails">
							<span class="e-mail-list-column">{{email.from}}</span>
							<span class="e-mail-list-column">{{email.time}}</span>
							<span class="e-mail-list-column">{{email.subject}}</span>
						</div>
					</div>
					<div class="button" ng-click="back()">Back</div>
				</div>
		
			<div class="footer-push"></div>
		</div>
		<div class="footer"></div>
		
		<script>
			var socket = new WebSocket("ws://localhost:8080");
					
			socket.onopen = logOpen;
			socket.onmessage = logMessage;
			socket.onclose = logClose;
					
			function logOpen() {
				console.log("connected to WebSocket");
			}

			function logMessage(msg) {
				console.log(msg);	   
			}

			function logClose() {
				console.log("connection to WebSocket failed");
			}
			
			var app = angular.module('app', []).
				controller("emailControl", function emailControl($scope){
					$scope.emails = [];
					
					$scope.addEmail = function(from, time, subject, body){
						if(time == null){
							time = (new Date()).toGMTString();
						}
						
						var newMail = {from: from, time: time, subject: subject, body: body};
						
						$scope.emails.push(newMail);				
					}
					
					$scope.addEmail("bob",null,"all those things", "wooohoo, nice to meet you today!");
					$scope.addEmail("john",null,"all those things", "wooohoo, nice to meet you today!");
				
					$scope.showMenu = false;
					$scope.toggleMenu = function(){
						$scope.showMenu = !$scope.showMenu;
					};
					
					$scope.history = [];
					$scope.page = "welcome";
					
					$scope.go = function(txt){
						$scope.history.push($scope.page);
					
						$scope.page = txt;
					}
					
					$scope.back = function(){
						if($scope.history.length == 0){
							$scope.page = "welcome";
							return;
						}
						$scope.page = $scope.history.pop();
					}
				});
		</script>
	</body>
</html>