html,body{
	width: 100%;
	margin: 0;
	padding: 0;
	height: 100%;
}

.main-container{
	min-height: 100%;
}

.header, .footer, .header-push, .footer-push{
	clear: both;
	height: 50px;
	width: 100%;
}

.header, .footer{
	background: black;
	color: white;
}

.header{
	position: absolute;
}

.header h1{
	margin: auto;
	padding: 0;
	line-height: 50px;
	font-size: 75px;
}

.footer{
	margin-top: -50px;
}

.menu{
	position: absolute;
	right: 0;
	top: 0;
	height: 50px;
	line-height: 50px;
	font-size: 25px;
	background: rgb(66, 100, 189);
	padding-right: 15px;
	padding-left: 40px;
	border-radius: 50px 0 0 0;
	cursor: pointer;
}

.menu ul{
	background: black;
	list-style: none;
	padding: 0;
	position: absolute;
	top: 50px;
	right:0;
	margin: 0;
}

.menu ul li{
	padding:10px;
}